venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class

*.db
*.sqlite3

storage/roms/*
storage/games/saves/*
storage/games/states/*

!storage/**/.gitkeep

.ipynb_checkpoints/

.env

test.py
test_db.ipynb

storage/
